.singlePost{
    flex:9;
    margin-left: 10px;
}

.singlePostWrapper{
    padding: 20px;
    
}

.singlePostImg {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 20px;
    
    padding: 7px;
  }

  .singlePostTitle{
    text-align: center;
    margin: 10px;
    font-size: 28px;
    font-style: italic;
  }
  .singlePostIcon{
    margin-left:10px;
    cursor: pointer;
}

.singlePostIcon:first-child{
    color: teal;
}

.singlePostIcon:last-child{
    color: tomato;
}

  .singlePostInfo{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    
  }
  .singlePostEdit{
    float: right;
    font-size: 16px;

  }

  .singlePostDesc{
    font-size: 18px;
    line-height: 35px;
    
  }

  .singlePostDesc::first-letter{
    margin-left: 20px;
    font-weight: 600;
    font-size: 30px;

  }

  
  .singlePostDescInput {
    border: none;
    color: #666;
    font-size: 18px;
    line-height: 25px;
    width: 100%;
  }
  
  .singlePostDescInput:focus {
    outline: none;
  }

  .singlePostTitleInput {
    margin: 10px;
    font-family: "Lora", serif;
    font-size: 28px;
    text-align: center;
    border: none;
    color: gray;
    border-bottom: 1px solid lightgray;
  }
  
  .singlePostTitleInput:focus {
    outline: none;
  }
  .singlePostButton {
    width: 100px;
    border: none;
    background-color: teal;
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px;
  }