.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
     
  }
  
  .loginTitle {
    font-size: 50px;
  }
  
  .loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .loginForm > label {
    margin: 10px 0;
  }
  
  .loginInput {
    padding: 10px;
    background-color: white;
   
    border-radius: 10px;
  }
  
  .loginInput:focus {
    outline: none;
  }
  
  .loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(130, 130, 159);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }

  .loginButton:disabled{
    
    cursor: not-allowed;
    background-color:rgb(130, 130, 159);
    
  }
  
  .loginRegisterButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgb(130, 130, 159);
    cursor: pointer;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 10px;
  }
  /* App.css */

.mainContainer {
    
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.image{
  margin-left: 180px;
  background-repeat: no-repeat;
  background-size: cover;
}
.image img{
  
  
      height: 80vh;
      width: 100%;
  
}
.box {
  
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  left:0;
  text-align: center;
}

.buttons {
  padding: 40px;
  margin-top: 20px;
}

.admin-button,
.user-button {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}


.admin-button {
  background-color:rgb(131, 131, 163);
  color: #fff;
  margin-bottom: 20px;
}

.user-button {
  background-color:rgb(130, 130, 159);
  color: #fff;
}
.user-button:hover,.admin-button:hover{
  background-color: rgb(119, 119, 159);
}
